<a href="https://colab.research.google.com/github/LironSimon/Exploring_parameter_relations_from_trajectories/blob/main/exploring_relations_graphically.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Import environment and setup

In [ ]:
# Import the necessary packages
import glob
import pandas as pd

In [ ]:
# mount to drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
# set path to microscope images and load photos
Path = '/content/gdrive/Shareddrives/Liron_Simon_Thesis/Experimental_data/Trajectories'
data = pd.DataFrame()

for folder_path in glob.iglob(f'{Path}/*'):
    if folder_path.endswith('.csv'): continue
    for csv_path in glob.iglob(f'{folder_path}/*'):
        
        # switch to date, batch id instead
        id = csv_path[-17:-4] #date_numvid_slicenum_spherenum
        #!!!!!!!!!!!
        
        df = pd.read_csv(csv_path, index_col=False)
        df.insert(loc=0, column='id', value=id)

        data = pd.concat([data, df], axis=0, ignore_index=True)

In [ ]:
data

,id,sec,x,y,size,ecc,Vx,Vy,Unnamed: 0
0,0602_0012_1_1,0.060,114.176290,57.808745,4.052445,0.169111,0.001556,0.154791,NaN
1,0602_0012_1_1,0.064,114.154170,62.790469,4.076256,0.188109,-0.000680,0.153246,NaN
2,0602_0012_1_1,0.068,114.196296,67.878571,4.270829,0.159943,0.001296,0.156519,NaN
3,0602_0012_1_1,0.072,114.782118,72.743152,6.343889,0.155092,0.018021,0.149643,NaN
4,0602_0012_1_1,0.076,114.566640,77.923255,6.075607,0.145635,-0.006628,0.159349,NaN
...,...,...,...,...,...,...,...,...,...
5185,0602_0023_1_2,0.956,137.652849,737.947005,4.179600,0.319941,-0.007543,0.137092,NaN
5186,0602_0023_1_2,0.960,137.809653,742.516144,4.129934,0.272322,0.004824,0.140555,NaN
5187,0602_0023_1_2,0.964,137.772530,747.063592,4.122940,0.249979,-0.001142,0.139887,NaN
5188,0602_0023_1_2,0.968,137.916843,751.431546,4.145397,0.272959,0.004439,0.134366,NaN
5189,0602_0023_1_2,0.972,137.768494,756.031065,4.132486,0.254938,-0.004563,0.141489,NaN

### Re1 & Fr1 map
To see what area of reaserch is covered by me and others

In [ ]:
coverage = pd.DataFrame(columns=[''])

### Vx/vy as a func of position
is there a correlation between vx vibraitions and interface entry/exit

### Re1/Fr1 as a func of recovery time
see if there is a corelation between Re/Fr and the time it takes for the particle to reach vt2 from the moment it no longer settled with vt1.

### Vy_min/Vt1_observed as a func of d/h

### Vy_min/Vt1_observed as a func of density_ratio

How many particles have a diam outside manufacturer range